body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/* Dashboard Styling */
.dashboard {
    display: flex;
    height: 85.10vh;
}

.sidebar {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding-top: 20px;
    position: fixed;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    margin-left: 20px;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.content {
    margin-left: 700px;
    padding: 50px;
    flex-grow: 1;
}

.background {
    background: url('p4.jpg') no-repeat center center/cover;
    height: 782px;
    width: 700;
    display:fixed ;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

footer {
  
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;

}
